QT_DB_PATH=.data/quant_trading.db
QT_INITIAL_CASH=10000
QT_MAX_POSITIONS=5
QT_LOT_SIZE=100
QT_MIN_LISTING_DAYS=365
QT_DATA_PROVIDER=mock
QT_DATA_AS_OF=2025-12-31
SERVERCHAN_SENDKEY=
GM_API_TOKEN=
GM_ACCOUNT_ID=
JOINQUANT_USERNAME=
JOINQUANT_PASSWORD=
EASTMONEY_COOKIE=
